table,h1,div{
	width: 60%;
	margin: 0 auto;
}

.file-img {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

#attach-file, #delete-file {
	display: none;
}

img {
	vertical-align: middle;
}
a:hover {
	cursor: pointer;
}