<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="editor.mapper">
   <select id="list" resultType="com.todays.cafe.domain.editor.EditorVO">
      select * 
      from (select a.*, row_number() over (partition by title order by filenum)rum from file_tb a where 1=1 and title like '%'||#{keyword}||'%') 
      where rum=1
      order by filenum desc
   </select>
    <insert id="insert"> 
       insert into c_editor (id,title,content,writer) 
      values(seq_id.nextval,#{title},#{content},#{writer}) 
   </insert> 
    <insert id="insert_f">
       insert into file_tb (filename, filepath,title)
       values (#{filename,jdbcType=VARCHAR},#{filepath,jdbcType=VARCHAR},#{title}) 
   </insert>
   <select id="detail" resultType="com.todays.cafe.domain.editor.EditorVO">
      select * 
      from c_editor  
      where title=#{title} 
      
      </select>
   <select id="detail_f" resultType="com.todays.cafe.domain.editor.EditorVO">
      select * 
      from file_tb 
      where title = #{title} 
      order by filename
   </select>
   <update id="read">
      update c_editor 
      set readcnt=readcnt+1 
      where title=#{title}
   </update>
   <delete id="delete">
      delete from c_editor 
      where title=#{title}
   </delete>
   <delete id="delete_f">
      delete from file_tb
      where title=#{title}
   </delete>
   <update id="update">
      update c_editor 
      set content=#{content}
      where title=#{title}
   </update>
      <update id="update_f">
      update file_tb
      set filepath=#{content}
      where title=#{title}
   </update>
   <!-- <select id="aplist" resultType="editor.EditorVO">
      select * from editor
</select> -->
</mapper>